# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Unity-Inventory-System.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\Unity-Inventory-System\Unity-Inventory-System\.idea\.idea.Unity-Inventory-System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
